.navbar {
  background: #800000;
  border-radius: 0px;
}

.header {
  font-size: 40px;
  color: white;
  margin: 32px 0px 12px 12px;
  float: left;
}

.subtitle {
  color: white;
  margin: 52px 0px 12px 12px;
  float: left;
}

.navbar img {
  float: left;
  margin: 12px;
}
